.box {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;


}

.box:nth-child(1) {
    background-color: red;
}


.box:nth-child(2) {
    background-color: blue;
}

.box:nth-child(3) {
    background-color: green;
}
