p {
    color: darkgreen;
    font-family: Verdana;
    background-color: white;

}

.tipo1 {
    color: grey;
    font-family: 'Times New Roman';
}

.tipo2 {
    color: blueviolet;
    font-style: oblique;
}

h1 {
    color: black;
    font-size: 50px;
    font-family: 'Square Peg', cursive;
    text-shadow: -1px 10px 2px rgba(210, 223, 141, 0.6);
}

h3 {
    color: rgb(35, 75, 206);
    font-family: 'Inter', sans-serif;


}

a:hover {
    color: tomato
}

.icon {
    color: rgba(95, 95, 42, 0.774);
    font-size: 14px;
}

img {
    filter: drop-shadow(3px 15px 20px #3a2f9f);
    -webkit-filter:
        drop-shadow(3px 15px 20px #3a2f9f);
    -moz-filter: drop-shadow(3px 15px 20px #3a2f9f);
}