p {
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: white;
   
}
.tipo1{color: grey; font-family: verdana;}
.tipo2{color:blueviolet; font-style: oblique;}
.titulo1{color:brown;}
h3 {color:chartreuse}
p {color:coral; font-size: larger; size: 25px;}
a:hover {color:tomato}
